<main>
  {{!-- <img class="notFound" src="https://image.flaticon.com/icons/png/512/103/103085.png" alt="not found"/> --}}
  <h1 class="notFound">404</h1>
  <h2 class="notFound">Page not found</h2>
</main>